<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="logo">
      <img src="./assets/logo/logo.png">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content style="overflow: hidden">
  <div>
    <ion-input style="width: 0px; overflow: hidden;height: 5px" #error></ion-input>
  </div>
  <ion-grid class="ion-margin-vertical ion-margin-start ion-margin-horizontal">
    <ion-row>
      <div class="header">Enter the 4-digit code sent to you at <span style="color: green">{{amd+phoneNumber}}</span></div>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-input class="otp" #formRow #zero type="tel"  (keyup)="moveFocus(one, zero, 0, $event)"  [style]="style"   maxlength="1" (click)="clear(firstD)"  [(ngModel)]="firstD" [autofocus] = "true" (ngModelChange)="verify(error)"></ion-input>
      </ion-col>

      <ion-col size="3">
        <ion-input class="otp" #formRow #one type="tel" (keyup)="moveFocus(two, zero, 1, $event)"  [style]="style" maxlength="1"   (click)="clear(secondD)"  [(ngModel)]="secondD"  (ngModelChange)="verify(error)"></ion-input>
      </ion-col>

      <ion-col size="3">
        <ion-input class="otp" #formRow #two type="tel" (keyup)="moveFocus(three, one,  2, $event)"  [style]="style" maxlength="1"  (click)="clear(thirdD)" [(ngModel)]="thirdD" (ngModelChange)="verify(error)"></ion-input>
      </ion-col>

      <ion-col size="3">
        <ion-input class="otp" #formRow #three type="tel" (keyup)="moveFocus(three,  two, 3, $event)"  [style]="style" maxlength="1"  (click)="clear(fourthD)" [(ngModel)]="fourthD"  (ngModelChange)="verify(error)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="warningFlag">
      <a class="warning">The code you entered does not match. Try Again!</a>
    </ion-row>
  </ion-grid>
  <div class="resent" (click)="timer(resendText !== 'Text message resent.')" *ngIf="resendFlag1">
    {{resendText}}
  </div>
  <div class="timer" *ngIf="resendFlag">
    Resend in 00:{{timerValue}}
  </div>
  <div class="upperText" *ngIf="!textFlag && !resendFlag1">
    <a style="color: #0d0d0d; cursor: pointer">I haven't received a code.</a>
  </div>

  <div class="lowerText" *ngIf="textFlag && !resendFlag1">
    <a style="color: #0d0d0d; cursor: pointer">I haven't received a code.</a>
  </div>
</ion-content>
