<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="logo"><img src="./assets/logo/logo.png"></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="type" mode="ios">
    <ion-segment-button value="sell">
      <ion-label>Sell</ion-label>
    </ion-segment-button>
    <ion-segment-button value="buy">
      <ion-label>Buy</ion-label>
    </ion-segment-button>
    <ion-segment-button value="my">
      <ion-label>My Requests</ion-label>
    </ion-segment-button>
  </ion-segment>
<div class="ion-margin-start ion-margin-end ion-margin-top">
<div *ngIf="type === 'sell'">
  <ion-card *ngFor="let crop of sellList" (click)="presentModal()">
    <div>
      <ion-grid>
        <ion-row >
        <ion-col size="4">
          <img src="./assets/seeds.jpeg" style="width: 100%; height: 100%">
        </ion-col>
        <ion-col size="8">
          <ion-grid>
            <ion-row>
              <ion-col size="10">
              <div class="crop-name">{{crop.name}}</div>
              </ion-col>
              <ion-col size="2">
                <img src="./assets/icon/share.png" style="width: 15px" class="ion-float-right">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <div style="white-space: nowrap">Quantity: <br>{{crop.quantityAvailable}} Quintal</div>
              </ion-col>
              <ion-col size="2.5">

              </ion-col>
              <ion-col size="4.5">
                <div style="white-space: nowrap">Price: <br>${{crop.price}} <span style="font-size: smaller">(per kg)</span></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</div>
  <div *ngIf="type === 'buy'">
    <app-trade-post></app-trade-post>
  </div>
  <div *ngIf="type === 'my'">
<app-my-requests></app-my-requests>
  </div>
</div>
</ion-content>
