ion-input {
  border-bottom: 1px solid #EFEFEF;

  ::ng-deep input:focus {
    border-bottom: 1px solid black;
  }
}
.button {
  --background: green;
  text-transform: none;
  font-weight: bold;
  margin-top: 10%;
}

.or{
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20%;
}
.social{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 20%;
}
.social-button{
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid green;
  border-radius: 7px;
}
.warning{
  color: red;
  font-size: 12px;
  font-weight: lighter;
  margin-left: 10px;
  margin-top: 2px;
}
