.play{
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  alitgn-items: center;
  text-align: center;
  height: 10rem;
  margin-bottom: 5%;
}
.city-name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;
}
