<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="logo"><img src="./assets/logo/logo.png"></div>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-margin-start ion-margin-end">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let i of array">
        <div class="play">
          <img src="./assets/icon/play.png" width="40" height="40" style="margin-top: 40%">
        </div>
        <div class="city-name">Video {{i}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
