.div-name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}
.viewall {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: small;
  white-space: nowrap;
}

.city-name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;
}

ion-grid {
  padding: 0;
}

ion-col {
  padding: 0;
}

ion-row {
  padding: 0;
}

ion-slide {
  display: block;
}

.slide-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
}

.div {
  margin-top: 15%;
}
.card{
  width: 80px
}
ion-card-content{
  padding-bottom: 0;
}
.card-div{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.div-card{
  margin-top: 8%;
}
.play{
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  alitgn-items: center;
  text-align: center;
  height: 10rem;
  margin-bottom: 5%;
}
