<ion-header class="ion-no-border">
    <ion-toolbar>
        <div class="logo"><img src="./assets/logo/logo.png"></div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-margin-start ion-margin-end">
        <div class="ion-margin-top">
            <ion-card style="background-color: cornflowerblue;margin: 0">
                <ion-card-header style="color: white; font-weight: bold;">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="8">
                              30 August |  {{city}}
                            </ion-col>
                            <ion-col size="4">
                                Rainy | 30&#730;C
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-header>
            </ion-card>
        </div>
        <div class="div">
            <div class="play">
                <img src="./assets/icon/play.png" width="40" height="40" style="margin-top: 17%">
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <div class="city-name ion-float-left">Title of Video</div>
                    </ion-col>
                    <ion-col size="2">
                        <div style="font-size: smaller; white-space: nowrap"> View All>></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="div">
            <ion-grid>
                <ion-row>
                    <div class="div-name">Our Services</div>
                </ion-row>
                <ion-row class="card-div">
                        <ion-card class="card">
                            <ion-card-content>
                                <img src="./assets/mandi.png">
                                <div class="city-name">Mandi</div>
                            </ion-card-content>
                        </ion-card>
                        <ion-card class="card">
                            <ion-card-content>
                                <img src="./assets/buy.png">
                                <div class="city-name">Trade</div>
                            </ion-card-content>
                        </ion-card>
                        <ion-card class="card">
                            <ion-card-content>
                                <img src="./assets/crops.png">
                                <div class="city-name">Crops Info</div>
                            </ion-card-content>
                        </ion-card>
                </ion-row>
            </ion-grid>
        </div>
        <div class="div">
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <div class="div-name ion-float-left">Shop</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-slides [options]="slideOptsOne">
                <ion-slide>
                   <img src="./assets/seeds.jpeg" class="div-card">
                    <div class="city-name">Seeds</div>
                </ion-slide>
                <ion-slide>
                    <img src="./assets/seeds.jpeg" class="div-card">
                    <div class="city-name">Fertilizers</div>
                </ion-slide>
                <ion-slide>
                    <img src="./assets/seeds.jpeg" class="div-card">
                    <div class="city-name">Hardwares</div>
                </ion-slide>
                <ion-slide>
                    <img src="./assets/seeds.jpeg" class="div-card">
                    <div class="city-name">Insecticide</div>
                </ion-slide>
                <ion-slide>
                    <img src="./assets/seeds.jpeg" class="div-card">
                    <div class="city-name">Cattle Food</div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
</ion-content>
